body {
  box-sizing: border-box;
}

main {
  background-image: url("https://i.pinimg.com/originals/ba/85/97/ba8597f4ccd93f3f523bbdf3f53a1afb.jpg");
  padding: 10px;
}

h2 {
  font-family: "Bangers", cursive;
  font-size: 20px;
}

.js-video-page {
  overflow: auto;
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .js-video-page {
    flex-direction: column;
  }
}

.vidResult {
  border: darkred 4px solid;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: rgb(0, 102, 0);
}

.vidLink {
  width: 20%;
  display: flex;
  margin: 10px 2.5%;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .vidLink {
    width: 40%;
    margin: 10px 5%;
  }
}

@media screen and (max-width: 375px) {
  .vidLink {
    width: 90%;
    margin: 10px 4%;
  }
}

.thumbnail {
  width: 100%;
}

.bioText {
  max-width: 97%;
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .bioText {
    width: 70%;
    margin: 10px 5%;
  }
}

@media screen and (min-width: 701px) {
  .bioText {
    width: 75%;
    margin: 10px 5%;
  }
}

.js-bio-page {
  overflow: auto;
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bioContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.js-bio-page img {
  width: 90%;
  display: flex;
  margin: 10px 2.5%;
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .js-bio-page img {
    width: 70%;
    display: flex;
    margin: 40px 12%;
  }
}

@media screen and (min-width: 701px) {
  .js-bio-page img {
    width: 50%;
    margin: 50px 23%;
  }
}

.js-choice-page {
  overflow: auto;
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .js-choice-page {
    flex-direction: column;
  }
}

.heroLink {
  width: 20%;
  display: flex;
  margin: 10px 2.5%;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .heroLink {
    width: 40%;
    margin: 10px 5%;
  }
}

@media screen and (max-width: 375px) {
  .heroLink {
    width: 90%;
  }
}

.choiceImageContainer {
  width: 100%;
}

.choiceContainer img {
  width: 100%;
}

main h1 {
  font-family: "Bangers", cursive;
  text-align: center;
  color: white;
  font-size: 45px;
}

.js-bio-page h2 {
  margin: auto;
  font-family: "Timmana", sans-serif;
  color: lightgrey;
  margin-bottom: 40px;
  text-align: center;
}

.js-bio-history {
  text-align: center;
}

.js-shopping-message {
  max-width: 90%;
  margin: auto;
  font-family: "Timmana", sans-serif;
  color: lightgrey;
  text-align: center;
}

.js-shopping-page {
  overflow: auto;
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .js-shopping-page {
    flex-direction: column;
  }
}

.shoppingLink {
  width: 31%;
  display: flex;
  margin: 10px 1.1%;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .shoppingLink {
    width: 40%;
    margin: 10px 4%;
  }
}

@media screen and (max-width: 375px) {
  .shoppingLink {
    width: 90%;
    margin: 10px 5%;
  }
}

.shoppingContainer {
  border: 4px darkred solid;
  border-radius: 2px;
  margin-top: 25px;
  background-color: black;
}

.shoppingContainer img {
  width: 100%;
}
.js-choice-page {
  overflow: auto;
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choiceContainer {
  border: 5px darkred solid;
  border-radius: 2px;
  background-color: rgb(204, 0, 0);
  color: white;
  cursor: pointer;
}

.choiceContainer h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 20px;
}

button:hover,
button:focus {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.bioContainer img {
  border: 7px solid darkred;
  border-radius: 5px;
}

.js-bio-page h2,
.js-shopping-page h2,
.js-shopping-message,
.js-choice-title,
.js-bio-name,
.js-bio-history {
  background-color: rgb(51, 0, 0, 0.8);
  border-radius: 3px;
}

.js-choice-title h1 {
  margin-top: 25px;
  margin-bottom: 30px;
}

.js-video-page h3,
.js-shopping-page h3 {
  color: lightgrey;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.js-video-page a,
.js-shopping-page a {
  text-decoration: none;
}

button {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 20px;
}

.flash-button {
  background: rgb(0, 128, 0);
  padding: 10px 10px;
  width: 75%;
  height: 60px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;

  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.hidden {
  display: none;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

//Firefox 1+
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

//Safari 3-4
@-moz-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
