
* {
	box-sizing: border-box;
}

main {
	background-image: url('https://i.pinimg.com/originals/ba/85/97/ba8597f4ccd93f3f523bbdf3f53a1afb.jpg');
	padding: 10px;
}

h2 {
	font-family: 'Bangers', cursive;
	font-size: 20px;
}

.js-video-page {
	margin: auto;
	margin-bottom: 40px;
	max-width: 95%;
}

.js-shopping-page {
	margin: auto;
	max-width: 95%;
}

.vidResult {
	border: darkred 4px solid;
	border-radius: 2px;
	height: 280px;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgb(0,102,0);
}

.thumbnail {
	max-width: 100%;
}

.bioText {
	max-width: 97%;
}

.js-bio-page img {
	width: 100%;
	margin-bottom: 25px;
}

.js-choice-page {
	overflow: auto;
	margin: 0 auto;
	width: 95%;
}

.js-choice-page img {
	width: 100%;
}

main h1 {
	font-family: 'Bangers', cursive;
	text-align: center;
	color: white;
	font-size: 45px;
}

.js-bio-page h2 {
	margin: auto;
	font-family: 'Timmana', sans-serif;
	color: lightgrey;
	font-size: 30px;
}

.js-shopping-message {
	max-width: 90%;
	margin: auto;
	font-family: 'Timmana', sans-serif;
	color: lightgrey;
	font-size: 30px;
}

.shoppingContainer {
	width: 38%;
	display: inline-block;
	vertical-align: top;
	border: 4px darkred solid;
	border-radius: 2px;
	height: 500px;
	margin-left: 7%;
	margin-right: 2%;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: black;
}

.shoppingContainer img {
	width: 100%;
}

.choiceContainer {
	border: 5px darkred solid;
	border-radius: 2px;
	height: 430px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 190px;
	float: left;
	width: 97%;
	background-color: rgb(204,0,0);
	color: white;
	cursor: pointer;
	/* display: block; */
}

.choiceContainer h2 {
	font-family: 'Bangers', cursive;
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 20px
}

button:hover, button:focus {
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.bioContainer {
	text-align: center;
}

.bioContainer img {
	border: 7px solid darkred;
	border-radius: 5px;
}

.js-bio-page h2, .js-shopping-page h2, .js-shopping-message, .js-choice-title,
 .js-bio-name, .js-bio-history {
  background-color: rgb(51,0,0,0.8);
  border-radius: 3px;
}

.js-choice-title h1 {
	margin-top: 25px;
	margin-bottom: 30px;
}

.js-video-page h3, .js-shopping-page h3 {
	color: lightgrey;
	font-size: 16px;
  text-align: center;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.js-video-page a, .js-shopping-page a {
	text-decoration: none;
}

button {
	display: block;
  margin: auto;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 20px;
}

.flash-button{
	background: rgb(0,128,0);
	padding: 10px 10px;
	width: 75%;
	height: 60px;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;

	animation-name: flash;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@media screen and (min-width: 479px) and (max-width: 991px) {
  .js-choice-page {
		max-width: 90%;
	}
	.choiceContainer {
		width: 37.4%;
		margin-right: 3%;
		margin-left: 7%;
		/* height: 350px; */
	}
	.js-bio-page img {
		width: 70%;
	}
	.js-bio-page h2 {
		width: 80%;
	}
	.vidResult {
		display: inline-block;
		margin-left: 7%;
		margin-right: 3%;
		width: 38%;
		vertical-align: top;
	}
	.shoppingContainer {
		display: inline-block;
		margin-left: 2.5%;
		margin-right: 2%;
		margin-top: 30px;
		margin-bottom: 50px;
		width: 28%;
		vertical-align: top;
		height: 500px;
	}
	.js-shopping-message {
		max-width: 70%;
	}
	.js-choice-title {
		max-width: 85%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.js-bio-name {
		max-width: 35%;
		margin: auto;
		margin-bottom: 30px;
	}
	.js-bio-history {
		width: 28%;
		margin: auto;
		margin-bottom: 20px;
	}
	button {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.flash-button {
		width: 40%;
	}
}

@media screen and (min-width: 991px) {
	.js-choice-page {
		max-width: 90%;
	}
	.choiceContainer {
		width: 18%;
		margin-bottom: 100px;
		margin-left: 4%;
		height: 420px;
	}
	.bioContainer {
		margin-bottom: 35px;
	}
	.js-bio-page img {
		width: 50%;
	}
	.js-bio-page h2 {
		width: 70%;
	}
	.vidResult {
		display: inline-block;
		margin-left: 3%;
		margin-right: 1%;
		margin-bottom: 30px;
		width: 20%;
		vertical-align: top;
	}
	.shoppingContainer {
		display: inline-block;
		margin-left: 3.7%;
		margin-right: 1%;
		width: 11%;
		height: 500px;
		vertical-align: top;
	}
	.js-shopping-message {
		max-width: 60%;
		margin-bottom: 35px;
	}
	.js-choice-title {
		max-width: 60%;
		margin: auto;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.js-bio-name {
		max-width: 23%;
		margin: auto;
		margin-bottom: 35px;
	}
	.js-bio-history {
		width: 18%;
		margin: auto;
		margin-bottom: 25px;
	}
	button {
		margin-top: 60px;
		margin-bottom: 50px;
	}
	.flash-button {
		width: 50%;
	}
}
